<%=layout('layout/boiler') %>  
<div class="row">
  <div class="col-6 offset-3">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading"> <%=err.message%> </h4>
        <p>Oh no! An error has occurred and our heroes are working hard to fix it. Fear not, for in the darkest of times, our resolve shines brightest. We shall overcome this obstacle and emerge victorious!</p>
        <hr>
        <p class="mb-0">Stay strong, and remember: adversity only strengthens our spirit.</p>
    </div>
</div>

  </div>
</div>
