<%=layout('../views/layout/boiler') %>
<link rel="stylesheet" href="/stylesheets/home.css">
<main class="container mt-1">
  <div class="row">
    <div class="col-md-8">
      <div class="intro-text">
        <p class="mt-4 fw-lighter display-6 ">
          Campsite Insight is your ultimate destination for exploring the great outdoors and discovering breathtaking campgrounds.
        </p>
        <p class="fw-lighter display-6 fs-5">
          Embark on a journey of discovery as you navigate through our comprehensive guides, detailed reviews, and insider tips, empowering you to plan the perfect outdoor ease. Join us and unlock the door to unforgettable adventures in the heart of nature.
        </p>
        <div class="fw-lighter display-5 fst-italic">Discover, Connect, Unwind..</div>
        <cite>"Camping is the answer. Who cares what the question is?" - CampsiteInsight</cite>
      </div>
    </div> 
    <div class="col-md-4">
      <img src="/imgs/bear.png" id="bear-img" class="img-fluid" alt="...">
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-4">
      <div class="card" id="card1">
        <a href="/campgrounds"><img src="/imgs/loc1.png" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <p class="card-text">Experience breathtaking sunrise vistas amidst the tranquil beauty of Sunrise Valley Camping</p>
          <p class="card-text text-secondary">~ Swiss Alps</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" id="card2">
        <a href="/campgrounds"><img src="/imgs/loc2.png" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <p class="card-text">Immerse yourself in the serene majesty of Sunrise Valley Camping with its stunning sunrise panoramas</p>
          <p class="card-text text-secondary">~ Alberta</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" id="card3">
        <a href="/campgrounds"><img src="/imgs/loc3.jpeg" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <p class="card-text">Awaken to stunning sunrise backdrop at Sunrise Valley Camping, nature's beauty takes center stage</p>
          <p class="card-text text-secondary">~ Norwegian</p>
        </div>
      </div>
    </div>
  </div>
</main>

