<%=layout('../views/layout/boiler') %>
<link rel="stylesheet" href="/home.css">
<body style="background-color: aliceblue;">
<main class="container mt-1">
  <div class="row">
    <div class="col-8">
      <p class="mt-4 fw-lighter display-6 ">
        Campsite Insight is your ultimate destination for exploring the great outdoors and discovering breathtaking campgrounds.
      </p>
      <p class="fw-lighter display-6 fs-5">
      <p class="fw-lighter display-6 fs-5"> 
      <p class="fw-lighter display-6 fs-5">
        Embark on a journey of discovery as you navigate through our comprehensive guides, detailed reviews, and insider tips, empowering you to plan the perfect outdoor ease. Join us and unlock the door to unforgettable adventures in the heart of nature.
      </p>
      <div class="fw-lighter display-5 fst-italic">Discover, Connect, Unwind..</div>
      <cite>"Camping is the answer. Who cares what the question is?" - CampsiteInsight</cite>
    </div> 
    <div class="col-4">
      <img src="/camp-removebg-preview.png" class="img-fluid" alt="...">
    </div>
  </div>
  <div class="row mt-4 mb-4">
    <div class="col-4">
      <div class="card">
        <a href="/campgrounds"><img src="/loc1.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <p class="card-text text-muted">Experience breathtaking sunrise vistas amidst the tranquil beauty of Sunrise Valley Camping</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <a href="/campgrounds"><img src="/loc2.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <p class="card-text text-muted">Immerse yourself in the serene majesty of Sunrise Valley Camping with its stunning sunrise panoramas</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <a href="/campgrounds"><img src="/loc3.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <p class="card-text text-muted">Awaken to stunning sunrise backdrop at Sunrise Valley Camping, nature's beauty takes center stage</p>
        </div>
      </div>
    </div>
  </div>
</main>
</body>
