body{
  background-color: aliceblue;
}
.navbar {
  background-image: linear-gradient(to right, #3949ab, #0069c0, #00796b, #558b2f, #7cb342);
}

.navbar-nav .nav-link, .navbar-brand {
  color: #f5f5f5 !important; 
}

.navbar-nav .nav-link:hover{
  color: #cfcfcf !important; 
}


#bear-img {
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.75)) drop-shadow(0px 6px 8px rgba(0, 0, 0, 0.35)) drop-shadow(0px 10px 12px rgba(0, 0, 0, 0.3)); /* Adjusted values for a more realistic effect */
}
.card-img-top{
    cursor: pointer;
    opacity: 0.85;
}
.card-img-top:hover{
    opacity: 1;
}
#generatedResult {
  max-height: 350px;
  overflow-y: auto;
  text-align:justify;
  background-color: white;
}   
::-webkit-scrollbar {
    width: 3px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #555;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #777
  }
  
