<link rel="stylesheet" href="/stylesheets/home.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-... (insert integrity hash here) ..." crossorigin="anonymous">

<footer class="footer py-3 mt-auto">
    <div class="container-md  text-center">
        <span class="">
              &copy; CampsiteInsight 2024 | All Rights Reserved
        </span>
        <div class="social-icons mt-2 mb-2 justify-content-center">
            <a href="#" id="link1" class="social-icon me-3"><i class="fab fa-facebook-f"></i></a>
            <a href="#" id="link2" class="social-icon me-3"><i class="fab fa-twitter"></i></a>
            <a href="#" id="link3" class="social-icon me-3"><i class="fab fa-instagram"></i></a>
            <a href="#" id="link4" class="social-icon me-3"><i class="fab fa-linkedin-in"></i></a>
        </div>
    </div>
</footer>
