<footer class="footer bg-secondary-subtle py-3 mt-auto">
    <div class="continer-md text-center">
        <span class="text-muted">
            &copy; CampsiteInsight 2024 | All Rights Reserved
        </span>
    </div>
</footer> 