<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campsite Insight</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body class="flex flex-column vh-100">
    <%- include('../utility/navbar') %>
        <main class="container mt-5">
            <%- body %>
        </main>
        <%- include('../utility/footer') %>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
                crossorigin="anonymous"></script>
            <script src="/scripts/formValidate.js"></script>
            <script type="importmap">
              {
                "imports": {
                  "@google/generative-ai": "https://esm.run/@google/generative-ai"
                }
              }
            </script>
            <script type="module">
              import { GoogleGenerativeAI } from "@google/generative-ai";
              const API_KEY = "Y-O-U-R  A-P-I  K-E-Y ";
              const genAI = new GoogleGenerativeAI(API_KEY);
          
              async function run() {
                const form = document.getElementById("storyForm");
                const generatedResult = document.getElementById("generatedResult");
            
                form.addEventListener("submit", async function(event) {
                    event.preventDefault();
            
                    document.getElementById("inputForm").style.display = "none";
          
                    const generatingResultMessage = document.createElement('h6');
                    generatingResultMessage.textContent = 'Processing Query...';
                    generatedResult.appendChild(generatingResultMessage);
            
                    let dots = 0;
                    const interval = setInterval(() => {
                        dots = (dots + 1) % 4;
                        generatingResultMessage.textContent = `Getting Response Ready${'.'.repeat(dots)}`;
                    }, 500);
            
                    const input = document.getElementById("storyInput").value;
            
                    const enteredValue = document.createElement('p');
                    enteredValue.textContent = 'User : ' + input;
                    generatedResult.appendChild(enteredValue);
            
                    const model = genAI.getGenerativeModel({ model: "gemini-pro" });
                    const result = await model.generateContent(input);
                    const response = await result.response;
                    let text = await response.text();
            
                    text = text.replace(/[*#-]/g, '');
            
                    clearInterval(interval);
                    generatingResultMessage.textContent = '';
                    generatedResult.style.opacity = 0.5;
            
                    const div = document.createElement('div');
                    div.innerHTML = 'Spark: ' + text;
                    generatedResult.appendChild(div);
                    
                    const hr = document.createElement('hr');
                    generatedResult.appendChild(hr);
            
                    generatedResult.style.opacity = 1;
                    document.getElementById("storyInput").value = "";
                    document.getElementById("inputForm").style.display = "block";
            
                });
            }
            
            run();
            
            </script>
    
</body>
</html>
